NEXT_PUBLIC_BASE_URL=https://panszelescik.pl

NEXT_PUBLIC_GA_ID=G-GM8C48X9PY
NEXT_PUBLIC_CLARITY_ID=99gjv8ocjj

ANALYZE=false
NEXT_OTEL_VERBOSE=0
OTEL_EXPORTER_OTLP_ENDPOINT=http://seq:5341/ingest/otlp/v1/traces
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf