@import "tailwindcss";

body {
    background: var(--color-neutral-200);
    color: var(--color-neutral-900);
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--color-neutral-900);
        color: var(--color-neutral-200);
    }
}
